	<footer class="footer">
			<div class="bg-shape-style"></div>
			<div class="container">
				<div class="footer-top">
					<div class="footer-area text-center">
						<div class="footer-logo">
							<a href="/boozly"><img src="/assets/images/header/footer/01.png" alt="footer-logo"></a>
						</div>
						<div class="scocial-media">
							<a href="javascript:void(0);" class="facebook"><i class="icofont-facebook"></i></a>
							<a href="javascript:void(0);" class="twitter"><i class="icofont-twitter"></i></a>
							<a href="javascript:void(0);" class="linkedin"><i class="icofont-linkedin"></i></a>
							<a href="javascript:void(0);" class="vimeo"><i class="icofont-vimeo"></i></a>
						</div>
						<div class="footer-menu">
							<ul>
								<li><a href="javascript:void(0);">Home</a></li>
								<li><a href="javascript:void(0);">Search</a></li>
								<li><a href="javascript:void(0);">Blog</a></li>
								<li><a href="javascript:void(0);">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer-bottom text-center">
					<p>&copy; 2020 <a href="javascript:void(0);"><span>BOOZLY</span></a>.</p>
				</div>
			</div>
		</footer>