<div class="mobile-menu">
			<nav class="mobile-header d-xl-none">
				<div class="header-logo">
					<a href="/boozly" class="logo"><img src="/assets/images/logo/01.png" alt="logo"></a>
				</div>
				<div class="header-bar">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>
			<nav class="menu">
				<div class="mobile-menu-area d-xl-none">
					<div class="mobile-menu-area-inner" id="scrollbar">
						<div class="mobile-search">
							<input type="text"  placeholder="Search Here.........">
							<button type="submit"><i class="icofont-search-2"></i></button>
						</div>
						<ul>
                            <li>
                                <a href="javascript:void(0);">Home</a>
                                <ul>
                                    <li><a href="/boozly">Home Page One</a></li>
                                    <li><a href="index-2.html">Home Page Two</a></li>
                                    <li><a href="index-3.html">Home Page Three</a></li>
                                    <li><a href="index-4.html">Home Page Four</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">About</a></li>
                            <li>
                                <a href="javascript:void(0);">Pages</a>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">Category</a>
                                        <ul>
                                            <li><a href="javascript:void(0);">Food Category</a></li>
                                            <li><a href="javascript:void(0);">Category style 1</a></li>
                                            <li><a href="javascript:void(0);">Category style 2</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Chef</a>
                                        <ul>
                                            <li><a href="javascript:void(0);">Home Chef</a></li>
                                            <li><a href="javascript:void(0);">Home Chef Single</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript:void(0);">Single Recipe</a></li>
                                    <li><a href="javascript:void(0);">404 Page</a></li>
                                    <li><a href="javascript:void(0);">Coming Soon Page</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="active" href="javascript:void(0);">Blog</a>
                                <ul>
                                    <li><a class="active" href="javascript:void(0);">Blog</a></li>
                                    <li><a href="javascript:void(0);">Blog Single</a></li>
                                </ul>								
                            </li>
                            <li>
                                <a href="javascript:void(0);">Shop</a>
                                <ul>
                                    <li><a href="javascript:void(0);">Shop Page</a></li>
                                    <li><a href="javascript:void(0);">Shop Single style-1</a></li>
                                    <li><a href="javascript:void(0);">Shop Single style-2</a></li>
                                    <li><a href="javascript:void(0);">Cart Page</a></li>
                                </ul>
                            </li>						
                            <li><a href="contact-us.html">Contact</a></li>
                        </ul>
						<div class="scocial-media">
							<a href="javascript:void(0);" class="facebook"><i class="icofont-facebook"></i></a>
							<a href="javascript:void(0);" class="twitter"><i class="icofont-twitter"></i></a>
							<a href="javascript:void(0);" class="linkedin"><i class="icofont-linkedin"></i></a>
							<a href="javascript:void(0);" class="vimeo"><i class="icofont-vimeo"></i></a>
						</div>
					</div>
				</div>
			</nav>
		</div>