<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/png">
    <!-- animate scss -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- bootstarp css -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- icofont -->
    <link rel="stylesheet" href="/assets/css/icofont.min.css">
    <!-- lightcase css -->
    <link rel="stylesheet" href="/assets/css/lightcase.css">
    <!-- swiper css -->
    <link rel="stylesheet" href="/assets/css/swiper.min.css">
    <!-- custom scss -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="stylesheet" href="/assets/css/mobile.responsive.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <title>Boozly - Alcoholic beverages delivered to your door within 60 minutes</title>
</head>

<body>
    <!-- preloader -->
    <div class="preloader">
        <div class="load loade">
            <hr/>
            <hr/>
            <hr/>
            <hr/>
        </div>
    </div>
    <!-- preloader -->


    <!-- /Homepage popup -->






    <% include ../partials/header %>
<h2>
Terms and Conditions
</h2>

        <!-- header section ending -->

        <% if (ISMOBILE === "1") { %>
            <!-- MOBILE TAB MENU Here -->
                <% include ../partials/tabBar %>
            <% } else { %>
                <% include ../partials/footer %>
            <% } %>
            <!-- Footer Section Ending Here -->

            <!-- scrollToTop start here -->
            <a href="#" class="scrollToTop"><i class="icofont-swoosh-up"></i></a>
            <!-- scrollToTop ending here -->



            <script src="/assets/js/jquery.js"></script>
            <script src="/assets/js/waypoints.min.js"></script>
            <script src="/assets/js/bootstrap.min.js"></script>
            <script src="/assets/js/isotope.pkgd.min.js"></script>
            <script src="/assets/js/wow.min.js"></script>
            <script src="/assets/js/swiper.min.js"></script>
            <script src="/assets/js/lightcase.js"></script>
            <script src="/assets/js/jquery.counterup.min.js"></script>
            <script src="/assets/js/functions.js"></script>

            <% include ../partials/location %>
                <% include ../partials/activeclass %>
                    